<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pepkor Lifestyle</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
        iframe {
            width: 100vw;
            height: 100vh;
            border: none;
        }
    </style>
</head>
<body>
    <iframe 
        title="Pepkor Lifestyle" 
        src="https://app.powerbi.com/reportEmbed?reportId=32d89d48-acdc-4dac-a8d5-8bb64306df97&amp;appId=a5de23fd-786f-4de9-8a7a-4102cf755baa&amp;autoAuth=true&amp;ctid=76937e3c-91d5-43ea-8bd3-5833d3867683" 
        allowfullscreen="true">
    </iframe>
</body>
</html>
